// Colors
text_color = rgb(51, 51, 51);
progress_color = rgb(226, 226, 226);
link_color = darkblue;

// Backgrounds
code_background = #f1f1f1;

// Fonts
body_font = "Merriweather", "PT Serif", Georgia, "Times New Roman", "STSong", Serif;
heading_font = "Lato", 'Helvetica Neue', Helvetica, sans-serif;
code_font = Menlo, Monaco, "Courier New", monospace;


html
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  overflow-x: hidden;

body
  font-family: body_font;
  font-size: 1.1rem;
  color: text_color;
  padding: 30px;
  margin: 0 auto;
  max-width: 900px;
  &.toc h1,
  &.toc h2,
  &.toc h3,
  &.toc h4,
  &.toc h5,
  &.toc h6
    cursor: pointer;

a
  color: link_color;
  text-decoration: none;
  border-bottom: 2px solid;
  &.img-link
    border: none;

h1, h2, h3, h4, h5, h6
  font-family: heading_font;
  line-height: 1.2;
  margin: 1.9em 0 0.5em;
  color: black;

h1
  font-size: 3.4rem;

h2
  font-size: 2.2rem;

ul
  padding-left: 25px;
  list-style-type: none;
  & li:before
    content: "- ";
    color: link_color;

p, li
  line-height: 2;

p > code
  font-family: code_font;
  font-weight: bold;
  color: black;
  background: code_background;
  padding: 6px;
  border-radius: 3px;

pre code.hljs
  font-family: code_font;
  font-size: 90%;
  padding: 1.2em;
  border-radius: 5px;
  opacity: 0;
  &.loaded
    transition: opacity .1s ease-out .6s;
    opacity: 1;

blockquote
  border-left: 10px solid #f1f1f1;
  background: rgb(255, 255, 255);
  & > p
    padding: 15px 15px 15px 25px;

#top
  position: fixed;
  width: calc(100% - 60px);
  max-width: 900px;
  padding: 30px;
  margin: -30px;
  background: white;
  box-sizing: content-box;
  & h3
    display: inline-block;
    margin: 1em 0 .6em 0;

#section
  cursor: pointer;

#progress
  color: progress_color;
  float: right;

#toc
  list-style-type: none;
  padding: 100px 0;
  margin: 0;
  & a
    font-size: 1.1rem;
    text-decoration: none;
    border: none;

.hidden
  display: none;

@media (max-width: 767px)
  body
    padding: 10px;

  #top
    width: calc(100% - 20px);
    padding: 10px;
    margin: -10px;

  #progress
    padding: 0 30px 0 10px;

@import "pages/home.styl"
