@import "styl/colors.styl"
@import "styl/fonts.styl"

html
  -webkit-font-smoothing: antialiased;
  font-size: 23px;
  overflow-x: hidden;

body
  font-family: body_font;
  color: text_color;
  padding: 30px;
  margin: 0 auto;
  max-width: 900px;
  &.toc h1,
  &.toc h2,
  &.toc h3,
  &.toc h4,
  &.toc h5,
  &.toc h6
    cursor: pointer;

a
  color: link_color;
  &.img-link
    text-decoration: none;

h1, h2, h3, h4, h5, h6
  font-family: heading_font;
  line-height: 1.2;
  margin: 1.9em 0 0.5em;
  color: black;

h1
  font-size: 3.4rem;

h2
  font-size: 2.2rem;

p, li
  line-height: 2;

h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code,
p > code,
li > code
  font-family: code_font;
  font-weight: bold;
  color: black;
  background: code_background;
  padding: 6px;
  border-radius: 3px;

pre code.hljs
  font-family: code_font;
  padding: 1.2em;
  border-radius: 5px;

blockquote
  border-left: 10px solid #f1f1f1;
  background: rgb(255, 255, 255);
  & > p
    padding: 15px 15px 15px 25px;

div#top
  position: fixed;
  width: calc(100% - 60px);
  max-width: 900px;
  padding: 30px;
  margin: -30px;
  background: white;
  box-sizing: content-box;
  & h3
    display: inline-block;
    margin: 1em 0 .6em 0;

div#top > h3#section
  cursor: pointer;

div#top > h3#progress
  color: progress_color;
  float: right;

ul#toc
  padding: 100px 0;
  margin: 0;
  &, & ul
    list-style-type: none;
  & a
    font-size: 1.1rem;
    text-decoration: none;

.hidden
  display: none;

.o20
  opacity: .2;

.o50
  opacity: .5;

.o70
  opacity: .7;

.noselect
  user-select: none;
  @extend .o20

.orange
  color: orange;

.antiquewhite
  color: antiquewhite;

.bold
  font-weight: bold;

.underline
  text-decoration: underline;

.create-a-blog
  box-shadow: 12px 18px 0px 3px;

@media (max-width: 767px)
  body
    padding: 10px;

  div#top
    width: calc(100% - 20px);
    padding: 10px;
    margin: -10px;

  div#top > h3#progress
    padding: 0 30px 0 10px;

@import "styl/pages/home.styl"
