//-
  This file is free to modify.
  You can define:
  - icons,
  - webmanifest,
  - gtag (analytics),
  - anything else.
  Any external files should be put in <maren-blog>/static folder.


link(rel='apple-touch-icon', sizes='180x180', href='/static/head/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/static/head/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/static/head/favicon-16x16.png')

script(src='https://www.googletagmanager.com/gtag/js?id=UA-150092751-1', async)
script.
  if (window.location.hostname === "pavelbucka.com") {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-150092751-1');
  }
